name: Deployment Exercise 1
on: workflow_dispatch
jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Section 03b Exercise
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Section 03b Exercise
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Test code
        run: npm run test
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Section 03b Exercise
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Build code
        run: npm run build
      - name: Deploy code
        run: echo "Deploying ..."
