name: Test Project
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Section 03 Github Action Basic
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Move folder
        run: ls
      - name: Move folder
        run: cd Section\ 03\ Github\ Action\ Basic
      - name: Move folder
        run: ls
      - name: Install nodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
